<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <meta charset="utf-8">
  </head>
  <body>
    <h1>משחק סודוקו קלאסי</h1>
      <table class="table table-bordered">    
        <tbody>
            <tr class={{index}} *ngFor="let sudoko of sudokoClassic let row=index" >                
              <td *ngFor="let j of sudoko let col=index"><input type="text" [disabled]="isDisabled(sudokoClassic[row][8-col])" value={{sudokoClassic[row][8-col]}} oninput="this.value = this.value.replace(/[^1-9.]/g, '').replace(/(\.*)\./g, '$1');" size="1" maxlength="1"></td>
              <!-- <td><input type="text" [disabled]="isDisabled(ref.value)" value=""#ref oninput="this.value = this.value.replace(/[^1-9.]/g, '').replace(/(\.*)\./g, '$1');" size="1" maxlength="1"></td> -->

            </tr>
          </tbody>
        </table>
        <div class="pos"> 
            <button type="button" class="nav-bar btn btn-info" (click)="newGame()">משחק חדש</button>
            <button type="button" class="nav-bar btn btn-info">סיימתי!</button>
          
        </div>

      <div class="logopart">
          <img class=logoimg src="assets\Sudoku.png"/>
      </div>
  </body>
  </html>