<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h1>משחק סודוקו קלאסי</h1>
    <div id="myModal" class="modal">
      
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" (click)="loko()">&times;</span>
          <p>להלהלהלהלהלהלהלהלהל</p>
        </div>
      
      </div>
      <table class="table table-bordered">    
        <tbody >
            <tr class={{index}} *ngFor="let sudoko of sudokoClassic let row=index" >                
              <td *ngFor="let j of sudoko let col=index">
                <input type="text" id="{{row}}{{8-col}}" [disabled]="isDisabled(sudokoClassic[row][8-col])" value={{sudokoClassic[row][8-col]+userChoice[row][8-col]}} oninput="this.value = this.value.replace(/[^1-9.]/g, '').replace(/(\.*)\./g, '$1');" size="1" maxlength="1">
              </td>
              <!-- <td><input type="text" [disabled]="isDisabled(ref.value)" value=""#ref oninput="this.value = this.value.replace(/[^1-9.]/g, '').replace(/(\.*)\./g, '$1');" size="1" maxlength="1"></td> -->

            </tr>
          </tbody>
        </table>


        <div class="info">
          <br>
            <button type="submit" class="btn btn-link press" (click)="help()"> <span class="fa fa-life-ring"></span> עזרה</button>
            <h3 class="btn-link" > מצב נקודות: {{point}}   </h3>
            <h3 class="btn-link"> <span class="fa fa-clock-o"></span> &nbsp;&nbsp;{{this.sec}} : {{this.min}} : {{this.hour}}  </h3>
            <br>
            <div class="pos"> 
                <button type="button" class="nav-bar btn btn-info" (click)="clearBoard()">נקה לוח</button>
                <button type="button" class="nav-bar btn btn-info" (click)="EndGame()">סיימתי!</button>
                
                
              
            </div>
            <br>
            <button type="button" class="btn btn-link press refresh" (click)="refreshGame()"><span class="glyphicon glyphicon-refresh"></span> ערבב מחדש</button>
            <br>
            <button type="submit" class="btn btn-link press stop" (click)="home()"> <span class="fa fa-share"></span> יציאה</button>     
        </div>

      <div class="logopart">
          <img class=logoimg src="assets\Sudoku.png"/>
          
      </div>
  </body>
  </html>