.logoimg{
    width: 20%;
    height: 30%;
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(15deg);
    position: absolute;
 /* left: 0; bottom: 0;*/
    top: 0px;
    right: 0px;
 /* position: relative;*/
}


body {
	font-family:  "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
table /*css on table*/
 {
    background: white;
    margin-top: 2%;
	border: 3px solid black;
	max-width: 35%;
    margin-bottom: 2%;
    margin-left:auto; 
    margin-right:auto;
    
}

td
{
	border: 1px solid black;
	text-align: center;
	font-size: 160%;
}

input
{
    text-align: center;
    border: none;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    
}

input:focus {
    outline:none;
}

tr:nth-child(6),tr:nth-child(3)
{
	border-bottom: 3px solid black;
}

td:nth-child(4), td:nth-child(7)
{
	border-right: 3px solid black;
}

h1
{
    vertical-align: middle;
    text-align: center;
    margin-top: 2%;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size : 400%; 
    text-shadow: 2px 2px gray;
    color: #87CEFA;
}

tbody /*css body-table*/
{
	justify-content: center;
	align-items: center;
}

.btn /*css on button*/
{
    margin-left:auto;
    margin-right:auto;
    font-size : 150%; 
    display:block;
    margin-bottom:1%
}

input[type="text"]:disabled
{
background-color: white;
}

.nav-bar
{
    display: inline;
    background-color: blue;
    text-align: center;
    margin-left:7%;
}

.pos
{
    text-align: center;

}
.btn-link
{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.info
{
    height: 55%;
    width: 21%;
    background-color: white;/*  rgb(148, 211, 250); */
    position: absolute; /* or absolute */
    top: 20%;
    left: 8%;
    border-style: solid;
    border-radius: 7%;

}

.fa-life-ring
{
    
    color: red;
}

button:active
{
    color: red;
}

.stop:active
{
    color:green;
}

h3{
    font-size : 150%; 
    text-align: center;
    
}

h3:hover
{
    opacity:1.0;
    text-decoration: none;
    box-shadow:none;
    
}

.fa-clock-o
{
    color: black;
}

.fa-share
{
    color: green;
}



/* .table input[type="text"]:focus{
    background-color:rgba(155, 216, 255,.2);
    margin-bottom:-1px;
  }
  .table input[type="text"].highlight{
    background-color:rgba(155, 216, 255,.2);
  }
  .table input[type="text"].selected{
    background-color:rgba(143, 239, 91,.2);
  } */