<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <meta charset="utf-8">
  </head>
  <body>
    <h1>משחק סודוקו קלאסי</h1>
      <table class="table table-bordered">
          
        <tbody >
            <tr class="1">

                
                
                <td></td>
                <td>3</td>
                <td>5</td>

                <td></td>
                <td>4</td>
                <td></td>

              
              <td></td>
              <td></td>
              <td>7</td>

              

              
              
            </tr>
            <tr class="2">
                <td></td>
                <td>1</td>
                <td></td>

                <td>8</td>
                <td></td>
                <td></td>
                
                <td>5</td>
                <td></td>
                <td></td>
              </tr>
           <tr class="3">
              <td></td>
              <td>4</td>
              <td></td>

              <td>9</td>
              <td></td>
              <td>5</td>

              <td>8</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>

                <td></td>
                <td>6</td>
                <td></td>

                <td>9</td>
                <td>3</td>
                <td>5</td>
              </tr>
              <tr>
                  <td>5</td>
                  <td></td>
                  <td></td>

                  <td></td>
                  <td>1</td>
                  <td></td>

                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>9</td>

                    <td></td>
                    <td>2</td>
                    <td>7</td>

                    <td></td>
                    <td></td>
                    <td>8</td>
                  </tr>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>

                      <td></td>
                      <td></td>
                      <td>4</td>

                      <td>7</td>
                      <td></td>
                      <td>9</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td>7</td>
                        <td>5</td>
                        <td></td>

                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>5</td>
                          <td></td>

                          <td></td>
                          <td></td>
                          <td></td>

                          <td></td>
                          <td></td>
                          <td>6</td>
                        </tr>

          </tbody>
        </table>
        <div class="form-group"> 
            <button type="button" class="btn btn-info">משחק חדש</button>
        </div>

      <div class="logopart">
          <img class=logoimg src="assets\Sudoku.png"/>
      </div>
  </body>
  </html>