
<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <meta charset="utf-8">
  </head>
  <body [style.background]="this.authApi.getSessionColorBackgroundColor()">


    <h1 [style.color]="this.authApi.getSessionColorheadersColor()">ציוני ניצחונות  בתחרויות</h1>

    <div *ngIf = "flagGrade1">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">שם הלוח</th>
                <th scope="col">דרגת קושי</th>
                <th scope="col">זמן</th>
                <th scope="col">שם היריב</th>
                <th scope="col">ציון</th>
              </tr>
            </thead>
           
            <tbody>
              <tr *ngFor="let grade of gradeInfo1 let i=index">       
                <th scope="row">{{i+1}}</th>
                <td>{{gradeInfo1[i].boardName}}</td>
                <td>{{gradeInfo1[i].difficulty}}</td>
                <td>{{gradeInfo1[i].time}}</td>
                <td>{{gradeInfo1[i].rival}}</td>
                <td>{{gradeInfo1[i].score}}</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div *ngIf = "!flagGrade1">
        <h2>לא קיימים ציונים</h2>
    </div>

    <div class="logopart">
        <img class=logoimg src="assets\Sudoku.png"/>
    </div>
</body>
</html>