
<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <meta charset="utf-8">
  </head>
  <body [style.background]="this.authApi.BackgroundColor">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a routerLink="/home-page"><span class="glyphicon glyphicon-home "></span> דף הבית </a></li>
      <li role="presentation"><a routerLink="/single-game"><span class="glyphicon glyphicon-play text-success"></span> התחל משחק </a></li>
      <li role="presentation"><a routerLink="/friends-game-page" class="glyphicon glyphicon-pencil"> לשחק עם חברים </a></li>
      <li role="presentation"><a routerLink="/friends-page"><span class="glyphicon glyphicon-user"></span> החברים שלי </a></li>
      <li role="presentation" class="active"><a routerLink="/grade-page"><span  class="glyphicon glyphicon-education"></span> ציונים </a></li>
      <li role="presentation" ><a routerLink="/setting"><span class="glyphicon glyphicon-cog "></span> הגדרות </a></li>
    </ul>

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"><a [routerLink]="['/grade-page']"><span class="glyphicon glyphicon-star"></span> הציונים שלי </a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/grade-page','competition']"><span class="glyphicon glyphicon-object-align-bottom"></span> ציוני תחרויות </a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/grade-page','collaboration']"><span class="glyphicon glyphicon-globe"></span> ציוני שיתופי פעולה </a></li>
      </ul>
      <router-outlet></router-outlet>
      <div *ngIf = "gradePage" >
    <h1 [style.color]="this.authApi.headersColor">הציונים שלי:</h1>
    <div *ngIf = "flagGrade">
    <table  class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">שם הלוח</th>
            <th scope="col">דרגת קושי</th>
            <th scope="col">זמן</th>
            <th scope="col">ציון</th>
          </tr>
        </thead>
       
        <tbody>
          <tr *ngFor="let grade of gradeInfo let i=index">       
            <th scope="row">{{i+1}}</th>
            <td>{{gradeInfo[i].boardName}}</td>
            <td>{{gradeInfo[i].difficulty}}</td>
            <td>{{gradeInfo[i].time}}</td>
            <td>{{gradeInfo[i].score}}</td>
          </tr>
        </tbody>
      </table>
    </div>


   
    <div *ngIf = "!flagGrade">
        <h2>לא קיימים ציונים</h2>
    </div>


    <div class="logopart">
        <img class=logoimg src="assets\Sudoku.png"/>
    </div>
  </div>
</body>
</html>