<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <meta charset="utf-8">
  </head>
  <body [style.background]="this.authApi.getSessionColorBackgroundColor()">
     <!-- ---------------Nav bar------------ -->
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a routerLink="/home-page"><span class="glyphicon glyphicon-home "></span> דף הבית </a></li>
      <li role="presentation"><a routerLink="/single-game"><span class="glyphicon glyphicon-play text-success"></span> התחל משחק </a></li>
      <li role="presentation"><a routerLink="/friends-game-page" class="glyphicon glyphicon-pencil"> לשחק עם חברים </a></li>
      <li role="presentation"><a routerLink="/friends-page"><span class="glyphicon glyphicon-user"></span> החברים שלי </a></li>
      <li role="presentation"><a routerLink="/grade-page"><span  class="glyphicon glyphicon-education"></span> ציונים </a></li>
      <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-cog "></span> הגדרות </a></li>
    </ul>

<!---------Invitation to the game------------>
<div id="myModal5" class="modal5">

    <!-- Modal content -->
    <div class="modal5-content">
        <div *ngIf="this.messageService.Message.length!==0">
            <h6 [style.color]="this.authApi.getSessionColorheadersColor()">{{this.messageService.Message[0].massage}}</h6>
            <br><br>
            <button type="button" class="btn approve btn-info" (click)="this.messageService.conf()">אישור</button>
            <button type="button" class="btn cancelation btn-info" (click)="this.messageService.cencel()">ביטול</button>
            <br><br><br>
        </div>
    </div>
  
  </div>
<!-- ------------color choice------------------- -->

    <form action="/action_page.php">
      <h1 [style.color]="this.authApi.getSessionColorheadersColor()">צבע הרקע:<p><input type="color" (input)="favcolor1($event.target.value)" name="favcolor1" value="{{this.authApi.getSessionColorBackgroundColor()}}"></p></h1>
      <h1 [style.color]="this.authApi.getSessionColorheadersColor()">צבע הכותרות:<p><input type="color" (input)="favcolor2($event.target.value)" name="favcolor2" value="{{this.authApi.getSessionColorheadersColor()}}"></p></h1>
      <h1 [style.color]="this.authApi.getSessionColorheadersColor()">צבע רקע הלוח:<p><input type="color" (input)="favcolor3($event.target.value)" name="favcolor3" value="{{this.authApi.getSessionColorBackgroundBoardColor()}}"></p></h1>
      <h1 [style.color]="this.authApi.getSessionColorheadersColor()">צבע המספרים בלוח:<p><input type="color" (input)="favcolor4($event.target.value)" name="favcolor4" value="{{this.authApi.getSessionColornumbersColor()}}"></p></h1>
      <h1 [style.color]="this.authApi.getSessionColorheadersColor()">צבע מספרי העזרה בלוח:<p><input type="color" (input)="favcolor5($event.target.value)" name="favcolor5" value="{{this.authApi.getSessionColorhelpNumbersColor()}}"></p></h1>      
    </form>

    <div class="pos">
    <button type="submit" class="btn btn-info size" (click)="defult()">ברירת מחדל</button>
    </div>

  <!----------- logo part------------------>
    <div class="logopart">
        <img class=logoimg src="assets\Sudoku.png"/>
    </div>
</body>
</html>