<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <meta charses="utf-8">
  </head>
  <body>
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a href="#"><span class="glyphicon glyphicon-home "></span> דף הבית </a></li>
      <li role="presentation"><a href="#"><span class="glyphicon glyphicon-play text-success"></span> התחל משחק </a></li>
      <li role="presentation"><a href="#" class="glyphicon glyphicon-pencil"> לשחק עם חברים </a></li>
      <li role="presentation"><a href="#"><span class="glyphicon glyphicon-user"></span> החברים שלי </a></li>
      <li role="presentation"><a href="#"><span  class="glyphicon glyphicon-education"></span> ציונים </a></li>
      <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-cog "></span> הגדרות </a></li>
    </ul>

    <h1>צבע הלוח:<p>white</p></h1>
    <h1>צבע המספרים:<p>black</p></h1>
    <h1>צבע הרקע:<p>white</p></h1>





    <div class="logopart">
        <img class=logoimg src="assets\Sudoku.png"/>
    </div>
</body>