/* title */
h1
{
    vertical-align: middle;
    text-align: center;
    margin-top: 15%;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size : 500%; 
    text-shadow: 2px 2px gray;
    color: #87CEFA;
}

/* logo css */
.logoimg{
	width: 20%;
	height: 30%;
 	position: fixed; 
	left: 0; 
	bottom: 0;

}

.form-group label
{
    float: right;
}

::-webkit-input-placeholder { text-align:right; }

.form-group
{
    margin-top: 5%;
    margin-right: 30px;
    font-size: 140%
}

/* button position + size */
.pos
{
    display: flex;
    justify-content: center; 
    vertical-align: middle;
    text-align: center;
}

.size
{
    font-size: 150%;
  
}

.btn-link
{
    font-size: 90%;
}



