<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <meta charses="utf-8">
  </head>
  <body>
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                    <h1>שחקן חדש</h1>
              </div>
          </div>
      </div>
      <div class="container">
          <form>
            <div class="form-group size">
              <label>בחר כינוי</label>
              <input type="text" placeholder="הכנס לכאן" class="form-control size" id="nickName">
            </div>
            <div class="form-group pos"> 
                <button type="button" class="btn btn-info size"(click)="welcome_page()">אישור</button>
                </div>
          </form>
        </div>

      <div class="logopart">
          <img class=logoimg src="assets\Sudoku.png"/>
      </div>
  </body>
</html>