
<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <meta charset="utf-8">
  </head>
  <body>


    <h1>החברים שלי:</h1>
    <div class ="status">
            <div *ngFor="let friend_status of status_approved" >
                <div class ="space">
                     {{friend_status}}&nbsp;&nbsp;&nbsp;
                       <button class="btn btn-link" (click)="delete_friend(friend_status)" ><span class="glyphicon glyphicon-trash"></span></button>
                </div>
             
           </div>
    </div>

    <div class="logopart">
        <img class=logoimg src="assets\Sudoku.png"/>
    </div>
</body>
</html>