
<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <meta charses="utf-8">
  </head>
  <body>
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a href="#"><span class="glyphicon glyphicon-home "></span> דף הבית </a></li>
      <li role="presentation"><a href="#"><span class="glyphicon glyphicon-play text-success"></span> התחל משחק </a></li>
      <li role="presentation"><a href="#" class="glyphicon glyphicon-pencil"> לשחק עם חברים </a></li>
      <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> החברים שלי </a></li>
      <li role="presentation"><a href="#"><span  class="glyphicon glyphicon-education"></span> ציונים </a></li>
      <li role="presentation" ><a href="#"><span class="glyphicon glyphicon-cog "></span> הגדרות </a></li>
    </ul>

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-user "></span> הוספת חברים </a></li>
        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-align-justify"></span> צפייה בחברים  </a></li>
        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-info-sign "></span> מצב בקשות </a></li>
      </ul>

    <h1>להוספת החבר/ה הכנס/י את כינויו:</h1>
    <form method="post" role="form" class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-6 col-xs-offset-3">
          <input type="text" class="form-control" name="nickName" placeholder="הכנס לכאן">
        </div>
        <div class="form-group pos"> 
            <button type="button" class="btn btn-info size">אישור</button>
       </div>
      </div>
    </form>


    <div class="logopart">
        <img class=logoimg src="assets\Sudoku.png"/>
    </div>
</body>
</html>