<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body [style.background]="this.authApi.BackgroundColor">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a routerLink="/home-page"><span class="glyphicon glyphicon-home "></span> דף הבית </a></li>
      <li role="presentation" class="active"><a><span class="glyphicon glyphicon-play text-success"></span> התחל משחק </a></li>
      <li role="presentation"><a routerLink="/friends-game-page" class="glyphicon glyphicon-pencil"> לשחק עם חברים </a></li>
      <li role="presentation"><a routerLink="/friends-page"><span class="glyphicon glyphicon-user"></span> החברים שלי </a></li>
      <li role="presentation"><a routerLink="/grade-page"><span  class="glyphicon glyphicon-education"></span> ציונים </a></li>
      <li role="presentation" ><a routerLink="/setting"><span class="glyphicon glyphicon-cog "></span> הגדרות </a></li>
    </ul>

    <form class="form-inline">
        <div class="form-group col">
             
            <label for="selectid"> בחר דרגת קושי: </label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <select (change)="modo($event.target.value)" size="1" class="form-control" id="selectid">  
              <option value="" selected disabled hidden>בחר כאן</option>
              <option>קל</option>
              <option>בינוני</option>
              <option>קשה</option>
            </select>
        </div>    
        
     
          <div class="form-group col-md-7">
            <label for="board">בחר לוח:</label>
                <div *ngFor="let easyBoard of easyBoard">
                    <details id={{easyBoard.boardName}}>
                    <summary (click)= mark(easyBoard.boardName) >{{easyBoard.boardName}}<button type="submit" class="btn btn-link" (click)="play(easyBoard.boardName,'קל')" >התחל לשחק</button></summary>
                          <div *ngIf = "easyBoard.rate.rating>=0 && 1> easyBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{easyBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{easyBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "easyBoard.rate.rating>=1 && 2> easyBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{easyBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{easyBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "easyBoard.rate.rating>=2 && 3> easyBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{easyBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{easyBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "easyBoard.rate.rating>=3 && 4> easyBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{easyBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{easyBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "easyBoard.rate.rating>=4 && 5> easyBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{easyBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{easyBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "easyBoard.rate.rating==5">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              ({{easyBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{easyBoard.rate.vote}}</p>
                          </div>
                              
                      <div *ngIf = "easyBoard.feedback[0].player!==''">
                          <div *ngFor="let feedback of easyBoard.feedback let i=index"> 
                            <p> {{easyBoard.feedback[i].player}} : {{easyBoard.feedback[i].playerFeedback}}</p>
                          </div>
                          
                        </div>
                    </details>
                </div>
                <!--medium-->
                <div *ngFor="let mediumBoard of mediumBoard">
                    <details id={{mediumBoard.boardName}}>
                    <summary (click)= mark(mediumBoard.boardName) >{{mediumBoard.boardName}}<button type="submit" class="btn btn-link" (click)="play(mediumBoard.boardName,'בינוני')" >התחל לשחק</button></summary>
                          <div *ngIf = "mediumBoard.rate.rating>=0 && 1> mediumBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{mediumBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{mediumBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "mediumBoard.rate.rating>=1 && 2> mediumBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{mediumBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{mediumBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "mediumBoard.rate.rating>=2 && 3> mediumBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{mediumBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{mediumBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "mediumBoard.rate.rating>=3 && 4> mediumBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{mediumBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{mediumBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "mediumBoard.rate.rating>=4 && 5>mediumBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{mediumBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{mediumBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "mediumBoard.rate.rating==5">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              ({{mediumBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{mediumBoard.rate.vote}}</p>
                          </div>
                              
                          <div *ngIf = "mediumBoard.feedback[0].player!==''">
                                <div *ngFor="let feedback of mediumBoard.feedback let i=index"> 
                                  <p> {{mediumBoard.feedback[i].player}} : {{mediumBoard.feedback[i].playerFeedback}}</p>
                                </div>
                         </div>
                    </details>
                </div>
                <!--Hard-->
                <div *ngFor="let hardBoard of hardBoard">
                    <details id={{hardBoard.boardName}}>
                    <summary (click)= mark(hardBoard.boardName) >{{hardBoard.boardName}}<button type="submit" class="btn btn-link" (click)="play(hardBoard.boardName,'קשה')" >התחל לשחק</button></summary>
                          <div *ngIf = "hardBoard.rate.rating>=0 && 1> hardBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{hardBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{hardBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "hardBoard.rate.rating>=1 && 2> hardBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{hardBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{hardBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "hardBoard.rate.rating>=2 && 3> hardBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{hardBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{hardBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "hardBoard.rate.rating>=3 && 4> hardBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{hardBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{hardBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "hardBoard.rate.rating>=4 && 5>hardBoard.rate.rating">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span> &nbsp;
                              ({{hardBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{hardBoard.rate.vote}}</p>
                          </div>
                          <div *ngIf = "hardBoard.rate.rating==5">
                              <p> דירוג: 
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              ({{hardBoard.rate.rating}})  &nbsp;&nbsp;
                              כמות המצביעים: {{hardBoard.rate.vote}}</p>
                          </div>
                              
                          <div *ngIf = "hardBoard.feedback[0].player!==''">
                                <div *ngFor="let feedback of hardBoard.feedback let i=index"> 
                                  <p> {{hardBoard.feedback[i].player}} : {{hardBoard.feedback[i].playerFeedback}}</p>
                                </div>
                         </div>
                    </details>
                </div>
                
          </div>
          

      </form>

    <div class="logopart">
        <img class=logoimg src="assets\Sudoku.png"/>
    </div>
</body>
</html>

