/* title */
h1
{
    vertical-align: middle;
    text-align: center;
    margin-top: 15%;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size : 500%; 
    text-shadow: 2px 2px gray;
    color: #87CEFA;
}

/* logo css */
.logoimg{
    width: 20%;
    height: 30%;
    position: fixed; 
    left: 0; 
    bottom: 0;
}