<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <meta charset="utf-8">
  </head>
  <body [style.background]="this.authApi.getSessionColorBackgroundColor()">
      
     <!-- ---------------Nav bar------------ -->
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"><a><span class="glyphicon glyphicon-home "></span> דף הבית </a></li>
      <li role="presentation"><a routerLink="/single-game"><span class="glyphicon glyphicon-play text-success"></span> התחל משחק </a></li>
      <li role="presentation"><a routerLink="/friends-game-page" class="glyphicon glyphicon-pencil"> לשחק עם חברים </a></li>
      <li role="presentation"><a routerLink="/friends-page"><span class="glyphicon glyphicon-user"></span> החברים שלי </a></li>
      <li role="presentation"><a routerLink="/grade-page"><span  class="glyphicon glyphicon-education"></span> ציונים </a></li>
      <li role="presentation" ><a routerLink="/setting"><span class="glyphicon glyphicon-cog "></span> הגדרות </a></li>
      <li role="presentation"><a (click)="logout()" class="btn btn-info"><span class="glyphicon glyphicon-log-out"></span>התנתק/י</a></li>
    </ul>

    <h2  [style.color]="this.authApi.getSessionColorheadersColor()"> {{today|date: "dd.MM.y"}}</h2>     
 
    <h1 [style.color]="this.authApi.getSessionColorheadersColor()"> ברוכים הבאים {{userName}} </h1>

<!---------Invitation to the game------------>
<div id="myModal5" class="modal5">

    <!-- Modal content -->
    <div class="modal5-content">
        <div *ngIf="this.messageService.Message.length!==0">
            <h6 [style.color]="this.authApi.getSessionColorheadersColor()">{{this.messageService.Message[0].massage}}</h6>
            <br><br>
            <button type="button" class="btn approve btn-info" (click)="this.messageService.conf()">אישור</button>
            <button type="button" class="btn cancelation btn-info" (click)="this.messageService.cencel()">ביטול</button>
            <br><br><br>
        </div>
    </div>
  
  </div>
<!-- -------------------Status points------------------ -->
    <h3  [style.color]="this.authApi.getSessionColorheadersColor()"><div class="coin">
        <div class="front"></div>
        <div class="front_b"></div>
        <div class="back"></div>
        <div class="back_b"></div>
      </div><br> מצב נקודות: {{point}}    </h3>


<!----------- logo part------------------>
        <div class="logopart">
            <img class=logoimg src="assets\Sudoku.png"/>
        </div>
    </body>
</html>