.logoimg{
    width: 20%;
    height: 30%;
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(15deg);
   position: absolute;
    left: 0; bottom: 0;
 /*   top: 0px;
    right: 0px;
    position: relative;*/
}

h1
{
    vertical-align: middle;
    text-align: center;
    margin-top: 5%;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size : 300%; 
    text-shadow: 1px 1px gray;
    color: #87CEFA;
}

.status
{
    text-align: center;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-top: 3%;
    font-size : 130%; 
    
}

.space
{
    margin-bottom: 1.2%;
}