
<!--<app-weclome-page></app-weclome-page>
<app-new-user-page></app-new-user-page>
<app-home-page></app-home-page>
<app-sudoku-classic-game></app-sudoku-classic-game>
<app-sudoku-competition-game></app-sudoku-competition-game>
<app-friend-page></app-friend-page>
<app-grade-page></app-grade-page>
<app-competition-grade-page></app-competition-grade-page>
<app-collaboration-grade-page></app-collaboration-grade-page>
<app-setting-page></app-setting-page>
<app-single-game></app-single-game>
<app-friends-game-page></app-friends-game-page>-->

<router-outlet></router-outlet>